<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Enetworks Email Verification</title> -->
    <title>E-networks Email Verification</title>
  </head>
  <body>
    <!-- <h1>eNetworksCommunity Verify Email</h1> -->
    <h1>E-networks Verify Email</h1>
    <p>Dear lovely user,</p>
    <p>Verify your Email: <b>{{ user_email }}</b></p>
    <p>Your OTP for Email verification is: <strong>{{ otp }}</strong></p>
    <p>
      Please use this OTP to Verify your Email. If you didn't create an Account,
      you can ignore this email.
    </p>
    <p>Thank you!</p>
  </body>
</html>
