<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-networks Registration Successful</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      h1 {
        color: #333;
      }
      p {
        margin: 10px 0;
      }
      b {
        font-weight: bold;
      }
      a {
        color: #2a63e2;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>E-networks Registration for Intern Program Successful</h1>
      <p>Congratulations, <b>{{ user_name }}</b>!</p>
      <p>
        You have successfully enrolled in the E-Networks Technologies Ltd
        1Million E-NAIRA/REGULAR POS AGENT INTERNSHIP PROGRAM.
      </p>
      <p>Please await your letter of engagement after your training.</p>
      <p>You are also invited to join our Telegram group via this link:</p>
      <p>
        <a href="https://t.me/+VOi70dUobeU1YTBk" target="_blank"
          >Join Telegram Group</a
        >
      </p>
      <br />
      <p><b>1Million E-NAIRA/REGULAR POS AGENT INTERNSHIP PROGRAM</b></p>
    </div>
  </body>
</html>
