<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-networks Email Verification</title>
  </head>
  <body>
    <h1>Verify Your Email with E-networks</h1>
    <p>Hello,</p>
    <p>
      We are excited to have you as part of the E-networks community! Please
      verify your email address to get started:
    </p>
    <p>Email: <b>{{ user_email }}</b></p>
    <p>
      Your One-Time Passcode (OTP) for email verification:
      <strong>{{ otp }}</strong>
    </p>
    <p>
      Please enter this code in the verification process. This helps us ensure
      the security of your account.
    </p>
    <p>
      If you did not sign up for an account with E-networks, you can safely
      ignore this email.
    </p>
    <p>Thank you for joining us!</p>
    <p>Sincerely, <br />The E-networks Team</p>
  </body>
</html>
